@import url("variables.less");

#breakdown h3 {
  border-bottom: 1px solid @lightGrey!important; 
}

#breakdown h4 {
  margin-top: 2em!important;
  font-size: 0.75em!important;
}

#breakdown p {
  font-size: 0.5em;
  margin-top: 1em;
}

select, input, option, label{
  color: @lightGrey;
  font-size: 0.5em!important;
  height: 2em;

}

div.tabulate {
  display: block;
  text-align: left;
  margin-top: 1em;
}

div.tabulate a.reportButton {
  border-radius: 0;
  font-size: 0.5em!important;
  padding: 0.5em; 
  margin-left: 0;
  background: none;
}

div.tabulate a.reportButton:hover,
div.tabulate a.reportButton:active,
div.tabulate a.reportButton:focus {
  background: @white;
}

/* BRIBE PAID */ 
.c3-arc-Your-bribe,
.c3-legend-item-Your-bribe .c3-legend-item-tile{
  fill: @red!important;
  stroke: @red!important; 
}


/* ACTUAL COST */ 

.c3-arc-Actual-cost, 
.c3-legend-item-Actual-cost .c3-legend-item-tile{
  fill: @white!important;
  stroke: @white!important;
}

.c3-target-Actual-cost text {
  fill: @red!important;
}

.c3-legend-item-Actual-cost text, 
.c3-legend-item-Your-bribe text {
  fill: @lightGrey;
}

