@import url("variables.less");

h3 {
  border-bottom: 1px solid @lightGrey!important; 
}

h4 {
  margin-top: 2em!important;
  font-size: 0.75em!important;
}


select, input, option, label{
  color: @lightGrey;
  font-size: 0.5em!important;
  height: 2em;

}

div.tabulate {
  display: block;
  text-align: left;
  margin-top: 1em;
}

div.tabulate a.reportButton {
  border-radius: 0;
  font-size: 0.5em!important;
  padding: 0.5em; 
  margin-left: 0;
  background: none;
}

div.tabulate a.reportButton:hover,
div.tabulate a.reportButton:active,
div.tabulate a.reportButton:focus {
  background: @white;
}




